body{
    /* background-color: blue; */
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-position: center;
}

.hand{
    cursor: pointer;
}

.nav-hover:hover{
    /* background-color: #386AD6; */
    font-weight: 800;
}

.small-font{
    font-size: 15px;
}

.btn-hover:hover{
    opacity: 0.7;
}